/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

body {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
header {
    width: 80%;
    height: auto;
    display:flex;
    flex-direction:column;
    align-items: center;
}


/* .button-voltar {
    width: 10%;
    padding: 5px 5px;
    border: 2px ;
    align-self: flex-start;
} */

.button-voltar{
    background-color: rgb(228, 228, 85);
    font-family: 'Solway', serif;
    font-size: 30px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 25px;
    padding: 5px;
    border-radius: 50PX;
    width: 70%;
}

.button-voltar:hover{
    background-color: rgb(110, 110, 13);
}

.logo {
    width: 50%;
    
}    
.logo img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

main {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.introducao {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    line-height: 40px;
}

.personagem {
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 15px ridge rgb(149, 211, 149) ;
}

h2 { 
    text-align: center;
}

.button-escolha-personagem {
    width: 10%;
    padding: 5px 5px;
    border: 2px ;
}

.cardpersonagens {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    background: gray;
    text-align: center;
    width: 100%;
    box-shadow: inset 0 0 1em rgb(54, 192, 202), 0 0 1em rgb(100, 100, 100);

}
.card {
    width: 25%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;

}

.nome-personagem {
font-size: 35px;
font-weight: lighter;
font-style: oblique;

}

.img-personagem {
    width: 50%;
    
}

.personagem-descricao {
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    padding: 9px;



}



